
#itemImage {
	height: 270px;
	width: 220px;
	display: inline-block;

	 display: table;



}


.display {
    display: table-cell;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-block;
    float:left;
    margin: 0px;
    padding: 0px;
}

table {
	border-spacing: 20px;
	display: inline-block;
}

#productName {
    overflow: hidden;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}

#productPrice {

    font-size: 20px;
	text-align: center;
}
