<!--<font color="#9900FF">  </font>-->
<!--&lt;!&ndash;<font > Шоколадные конфеты ручной работы </font>&ndash;&gt;-->
<!--<p color="#000000", style="font-size: 50px;"> Шоколадные конфеты ручной работы </p>-->
<body style="background-color: #FDF0D8">

<h1 style="text-align:center;">Оформление заказа</h1>


<center><img src="{{ url_for('static', filename='images/zakaz.jpg') }}" class="image" /></center>

<!--<h3>This is an orange</h3>-->

<!--<img-->
<!--  src="{{ url_for('static', filename='images/orange.jpeg') }}"-->
<!--  class="image"-->
<!--/>-->

<!--<h3>This is a pear</h3>-->

<!--<img src="{{ url_for('static', filename='images/pear.jpeg') }}" class="image" />-->

<!--<style>-->
<!--  .image {-->
<!--    height=1000x;-->
<!--    width="100%";-->
<!--  }-->
<!--</style>-->
<style type="text/css">
		body {

		  margin: 10;

		  font-size: 60px;
		}

	</style>
</body>
<center><details>Доставка продукции осуществляется с 12:00 до 21:00 (выберете для себя удобный интервал времени в назначенный день доставки. Доставка осуществляется в 4х часовом интервале времени.
Стоимость доставки по Москве (в пределах МКАД)- 350р.
(ВАЖНО! Стоимость доставки в предпраздничный и праздничный период может быть выше из-за высокого спроса на курьеров).<summary>Доставка по Москве</summary></details></center>

<center><details>Магазин не осуществляет отправку товара в другие города..<summary>Доставка по России</summary></details></center>

<center><details>В связи с тем, что все наборы изготавливаются строго на заказ, предоплата составляет 100%.<summary>Оплата для России</summary></details></center>