<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Набор конфет на 3 штуки</title>
</head>
<body>

<h1>Набор на 4 корпусных шоколадных конфеты

Количество вкусов— 4 вкуса корпусных конфет. В набор входит 4 вкуса (более подробно ознакомиться со вкусами можно в разделе "Вкусы" главного меню).
ВАЖНО! Вкусы, входящие в набор, их наличие, обговариваются с менеджером при оформлении заказа.
Тип коробки— шкатулка выдвижная с металлической золотой ручкой, цвет- глубокий синий;
Вес 1 конфеты— 12 гр.
Размер набора—100х100мм.
Срок годности – 2 месяца

Условия хранения:
Хранить продукцию при температуре до 18 градусов;
Относительной влажность воздуха 65 – 75%;
Хранить продукцию подальше от источников света (солнечных лучей) и влаги. Допускается хранение в холодильной камере (предварительно оберните наборы плёнкой, пакетом и т.п)</h1>
</body>
</html>


<html>
<head>
<title>Вывод изображения на HTML страницу </title>
</head>
<body>
<!--<img src=" images//htmleclipse.jpg" alt="Солнечное затмение" align="left" width="160" -->
<div><img src="{{ url_for('static', filename='images/3stuk.png') }}" align="left" width="500" /></div>
height="130" style=" border: 8px solid #ffffff;"/>
<big>Солнечное затмение</big>
<br>
<p> Статья о Солнечном затмении.
</p>
</body>
</html>